<div class="container color-dark">
  <div class="col">
    <p>Add d Item</p>
  </div>
  <div class="col">
    <p>My Items ({{itemCount}})</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm"> Use this form</p>
    <form>
      <input type="text" class="txt" name="item" placeholder=" life goal...">
      <input type="submit" class="btn" value={{btnText}}>
    </form>
  </div>
  <div class="col">
    <p class="life-container ">My Item for now</p>
  </div>
</div>
