<div class="container main-container">
  <div class="scrolling-wrapper" [dragula]='"bag-task1"'>
    <div class="card" *ngFor="let hero of images">
      <img id="demo" class="navbar-img-logo" alt="Angular Logo" src="{{ hero }}" (click)="doubleClickImg()" data-toggle="modal"
        data-target="#myModal">
    </div>
  </div>
  <form>
    <span type="text" name="Max" value="Max">Max images: </span>
    <span>{{imgCount}}</span>
    <br>
    <span>Number of images: </span>
    <span>{{images.length}}</span>
  </form>
</div>

<!-- model -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btnClose" data-dismiss="modal">&times;</button>
        <h5>הוסף תמונה</h5>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
        <input type="file">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
